// **** global body color *** //

$bodyGlobalcolor: #1b2638;

// ****** Main menu variables ********* //
$blendModeColor: rgba(0,0,0,0.46);
$buttonBackground: #1b2638;
$buttonTextColor: white;
$buttonBorderColor: white;
// hover effect variables
$buttonHoverBackground: white;
$buttonHoverTextColor: #1b2638;

// ****** theme_one ****** //

$backgroundThemeOneColor:  rgba(255,255,255,0.56);
$buttonThemeOneTextColor: #1b2638;
$videoThemeOneBorderColor: #1b2638;

// ****** theme_two ****** //

$backgroundThemeTwoColor:  rgba(255,255,255,0.56);
$buttonThemeTwoTextColor: #1b2638;
$videoThemeTwoBorderColor: #1b2638;

// ****** theme_three ****** //

$backgroundThemeThreeColor:  rgba(255,255,255,0.56);
$buttonThemeThreeTextColor: #1b2638;
$videoThemeThreeBorderColor: #1b2638;

//****** game_main *********//

$messageBackgroundColor: rgba(255,255,255,0.46);
$messageTextColor: #1b2638;
$messageBorderColor: #1b2638;
$backButtonTextColor: #1b2638;
